<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.9.0.0" targetFramework="net45" />
  <package id="Facebook-Chat" version="1.1" targetFramework="net45" />
  <package id="FCTB" version="2.16.11.0" targetFramework="net45" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.YouTube" version="2.2.0.0" targetFramework="net45" />
  <package id="HigLabo.Net" version="1.0.0.4" targetFramework="net45" />
  <package id="HigLabo.Net.Facebook" version="1.0.0.3" targetFramework="net45" />
  <package id="HigLabo.Net.Twitter" version="1.0.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.0.5" targetFramework="net45" />
  <package id="POSSIBLE.WordPress.XmlRpcClient" version="1.1" targetFramework="net45" />
  <package id="VideoJS" version="4.10.2" targetFramework="net45" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net45" />
</packages>